<div class="cd-panel from-left">
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <div id="dropzone" class="dropzone">
                <div class="dropzone-previews"></div>
                <div class="dz-default dz-message">
                <div class="fa fa-upload fa-3x text-cherry"></div>
                <h2>{{../t.txt_file_upload_msg}}</h2>
                <p>{{../t.txt_file_upload_msg2}}</p>
                </div>
            </div>
        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->
