<table id="wiki_folders_table" class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>{{t.txt_folders}}</th>
		</tr>
	</thead>
	<tbody>
		{{#each wikiFolders}}
		<tr class="folder-links" data-link="{{this.id}}" data-type="{{this.type}}">
			<td class="filename ui-draggable ui-droppable">
				<a href="" class="name">
					<i class="fa fa-folder fa-2x"></i>
					<span class="nametext">
						<span class="innernametext">
							{{this.name}}
						</span>
					</span>
				</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>


