<div id="action-filter" class="row">
    {{> action_filter}}
</div>
<ul class="list-unstyled m-l m-r">
    <div class="row">
        {{#each actions}}
        <!--ACTION L1 START -->
        <div class="col-md-6 col-lg-4 col-xl-3" id="{{this.uid}}">
            {{> action .. action=this}} {{! use .. as new input context, FLAG_RUNTIMEPARTIAL required.}}
        </div>
        <!--ACTION L1 END -->
        {{/each}}
    </div>
</ul>

