<div id="goal-filter" class="row">
    {{> filter}}
</div>
<!-- GOALS -->
<div id="goalsDiv" class="row">
    {{> goals}}
</div>
<!-- GOALS END -->

<!-- ACTIONS -->
<div id="actionsDiv" class="row">
</div>
<!-- ACTIONS END -->
