// main: style.less

/*************************************************************
AUTH LOGIN PAGE
*************************************************************/
.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

.loginscreen.middle-box {
  width: 300px;
}

.middle-box h1 {
  font-size: 170px;
}
.wrapper .middle-box {
  margin-top: 140px;
}

.ttu-login {

  #logo-minimal-c {
    height: 120px;
    width: 200px;
  }

  .btn {
    width: auto;
  }

  @media (max-width: 768px) {
    .btn {
      margin-bottom: 0px;
    }
  }
}
//end login---------------------------------------------------

/*************************************************************
BREADCRUMB
*************************************************************/
.breadcrumb {
  background-color: #ffffff;
  margin: 0px -45px 0 -45px;
  padding: 10px 30px;
  border-radius: 0px;
  border-bottom: 1px solid @lightest-grey;
  border-top: 1px solid @lightest-grey;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out ;
}

.breadcrumb.closed {
  margin: -75px -45px 0 -45px;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.breadcrumb > li a {
  color: inherit;
}

.breadcrumb > .active {
  color: inherit;
}
@media (max-width: @mobile-width) {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb-panel {
  float: right;
  padding: 5px 10px;
  background: white;
  border: 1px solid @lightest-grey;
  border-top: 1px solid transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.breadcrumb-panel a {
  padding: 5px;
}

.bookmark-btn {
  top: 38px;
  right: 15px;
}

//end breadcrumb---------------------------------------------


/*************************************************************
DASHBOARD
*************************************************************/

.dashboard-header {
  border-top: 0;
  padding: 20px 20px 20px 20px;
}

.dashboard-header h2 {
  margin-top: 10px;
  font-size: 26px;
}

.fist-item {
  border-top: none !important;
}

.statistic-box {
  margin-top: 40px;

}

.dashboard-header .list-group-item span.label {
  margin-right: 10px;
}

.list-group.clear-list .list-group-item {
  border-top: 1px solid @border-color;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  padding: 10px 0;
}

ul.clear-list:first-child {
  border-top: none !important;
}

@media(min-width: @mobile-width-dash) {
  #sortable-left, #sortable-right {
    min-height: 300px;
  }
}

//end----------------------------------------------------------



.search-form {
  margin-top: 10px;
}

.search-result h3 {
  margin-bottom: 0;
  color: #1E0FBE;
}

.search-result .search-link {
  color: #006621;
}

.search-result p {
  font-size: 12px;
  margin-top: 5px;
}
//end--------------------------------------------------------

/**************************************************************
SETTINGS PAGE
**************************************************************/

.settings-title {
  padding: 10px 20px 30px;
  text-align: center;
}

.settings-item {
  padding: 0px 20px;
}

.settings-item .switch {
  float: right;
}

.settings-item .divider {
  height: 1px;
  margin: 20px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
//end--------------------------------------------------------

/************************************************************
HELP MODAL
************************************************************/
#wiki_help {

  img {
    margin: 0 0 0 0;
    display: block;
    max-width: 100%;
    height: auto;
  }

  .tab-content a {
    color: #870042;
    text-decoration: none;
  }

}


//end--------------------------------------------------------


/************************************************************
MAILBOX
************************************************************/
.mail-box {
  background-color: #ffffff;
  border: 1px solid @border-color;
  border-top: 0;
  padding: 0px;
  margin-bottom: 20px;
}

.mail-box-header {
  background-color: #ffffff;
  border: 1px solid @border-color;
  border-bottom: 0;
  padding: 30px 20px 20px 20px;
}

.mail-box-header h2 {
  margin-top: 0px;
}

.mailbox-content .tag-list li a {
  background: #ffffff;
}

.mail-body {
  border-top: 1px solid @border-color;
  padding: 20px;
}

.mail-text {
  border-top: 1px solid @border-color;
}

.mail-text .note-toolbar {
  padding: 10px 15px;
}

.mail-body .form-group {
  margin-bottom: 5px;
}

.mail-text .note-editor .note-toolbar {
  background-color: #F9F8F8;
}

.mail-attachment {
  border-top: 1px solid @border-color;
  padding: 20px;
  font-size: 12px;
}

.mailbox-content {
  background: none;
  border: none;
  padding: 10px;
}

.mail-ontact {
  width: 23%;
}
//end mailbox -----------------------------------------------


/************************************************************
SEARCH
************************************************************/
.search-item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  background: white;
  border-bottom: 1px solid @lightest-grey;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: @cherry;
  display: block;
}

.faq-question:hover {
  color: darken(@cherry, 5%);
}

.faq-answer {
  margin-top: 10px;
  background: white;
  border: 1px solid @border-color;
  border-radius: 3px;
  padding: 15px;
}

.search-item .tag-item {
  background: @lightest-grey;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
}
//end search -----------------------------------------------

/************************************************************
SEARCH
************************************************************/
.search-item {

  border-bottom: 1px solid @lighter-grey;
  margin: 0;
  padding: 5px 0;

  name {
    display: block;
  }

  position {
    display: none;

    &.desktop {
      display: block;
    }
  }

  at {

    &.desktop {
      display: block;
    }

     &.mobile {
        display: none;
      }
  }



}

@media(max-width: @mobile-width) {

  .search-item {

    name {
      font-size: 16px;
      font-weight: 600;
    }

    position.mobile {
      display: block;
      font-size: 12px;
    }


    at {

      &.desktop {
        display: none;
      }

      &.mobile {
        display: block;
        font-size: 12px;
      }
    }

  }

}
//end search -----------------------------------------------

/************************************************************
REPORTS
************************************************************/
.csv-save-btn {
  right: 30px;
  top: 8px;
}
//end reports -----------------------------------------------





