// main: style.less

/*************************************************************
AUTH LOGIN PAGE
*************************************************************/
.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

.loginscreen.middle-box {
  width: 300px;
}

.middle-box h1 {
  font-size: 170px;
}
.wrapper .middle-box {
  margin-top: 140px;
}

.ttu-login {

  #logo-minimal-c {
    height: 120px;
    width: 200px;
  }

  .btn {
    width: auto;
  }

  @media (max-width: 768px) {
    .btn {
      margin-bottom: 0px;
    }
  }
}
//end login---------------------------------------------------

/*************************************************************
BREADCRUMB
*************************************************************/
.breadcrumb {
  background-color: #ffffff;
  margin: 0px -45px 0 -45px;
  padding: 10px 30px;
  border-radius: 0px;
  border-bottom: 1px solid @lightest-grey;
  border-top: 1px solid @lightest-grey;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out ;
}

.breadcrumb.closed {
  margin: -75px -45px 0 -45px;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.breadcrumb > li a {
  color: inherit;
}

.breadcrumb > .active {
  color: inherit;
}
@media (max-width: @mobile-width) {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb-panel {
  float: right;
  padding: 5px 10px;
  background: white;
  border: 1px solid @lightest-grey;
  border-top: 1px solid transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.breadcrumb-panel a {
  padding: 5px;
}

.bookmark-btn {
  top: 38px;
  right: 15px;
}

//end breadcrumb---------------------------------------------


/*************************************************************
DASHBOARD
*************************************************************/

.dashboard-header {
  border-top: 0;
  padding: 20px 20px 20px 20px;
}

.dashboard-header h2 {
  margin-top: 10px;
  font-size: 26px;
}

.fist-item {
  border-top: none !important;
}

.statistic-box {
  margin-top: 40px;

}

.dashboard-header .list-group-item span.label {
  margin-right: 10px;
}

.list-group.clear-list .list-group-item {
  border-top: 1px solid @border-color;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  padding: 10px 0;
}

ul.clear-list:first-child {
  border-top: none !important;
}

@media(min-width: @mobile-width-dash) {
  #sortable-left, #sortable-right {
    min-height: 300px;
  }
}

//end----------------------------------------------------------



.search-form {
  margin-top: 10px;
}

.search-result h3 {
  margin-bottom: 0;
  color: #1E0FBE;
}

.search-result .search-link {
  color: #006621;
}

.search-result p {
  font-size: 12px;
  margin-top: 5px;
}
//end--------------------------------------------------------

/**************************************************************
SETTINGS PAGE
**************************************************************/

.settings-title {
  padding: 10px 20px 30px;
  text-align: center;
}

.settings-item {
  padding: 0px 20px;
}

.settings-item .switch {
  float: right;
}

.settings-item .divider {
  height: 1px;
  margin: 20px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
//end--------------------------------------------------------

/************************************************************
HELP MODAL
************************************************************/
#wiki_help {

  img {
    margin: 0 0 0 0;
    display: block;
    max-width: 100%;
    height: auto;
  }

  .tab-content a {
    color: #870042;
    text-decoration: none;
  }

}


//end--------------------------------------------------------


/************************************************************
MAILBOX
************************************************************/
.mail-box {
  background-color: #ffffff;
  border: 1px solid @border-color;
  border-top: 0;
  padding: 0px;
  margin-bottom: 20px;
}

.mail-box-header {
  background-color: #ffffff;
  border: 1px solid @border-color;
  border-bottom: 0;
  padding: 30px 20px 20px 20px;
}

.mail-box-header h2 {
  margin-top: 0px;
}

.mailbox-content .tag-list li a {
  background: #ffffff;
}

.mail-body {
  border-top: 1px solid @border-color;
  padding: 20px;
}

.mail-text {
  border-top: 1px solid @border-color;
}

.mail-text .note-toolbar {
  padding: 10px 15px;
}

.mail-body .form-group {
  margin-bottom: 5px;
}

.mail-text .note-editor .note-toolbar {
  background-color: #F9F8F8;
}

.mail-attachment {
  border-top: 1px solid @border-color;
  padding: 20px;
  font-size: 12px;
}

.mailbox-content {
  background: none;
  border: none;
  padding: 10px;
}

.mail-ontact {
  width: 23%;
}
//end mailbox -----------------------------------------------


/************************************************************
SEARCH
************************************************************/
.search-item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  background: white;
  border-bottom: 1px solid @lightest-grey;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: @cherry;
  display: block;
}

.faq-question:hover {
  color: darken(@cherry, 5%);
}

.faq-answer {
  margin-top: 10px;
  background: white;
  border: 1px solid @border-color;
  border-radius: 3px;
  padding: 15px;
}

.search-item .tag-item {
  background: @lightest-grey;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
}
//end search -----------------------------------------------

/************************************************************
SEARCH RESULTS FOR PEOPLE
************************************************************/
.search-item {
  cursor: default;
  border-bottom: 1px solid @lighter-grey;
  margin: 0;
  padding: 5px 0;

  &:hover {
    background: @lightest-grey;
  }

  &:nth-child(odd) {
    background: darken(white, 5%);

    &:hover {
      background: @lightest-grey;
    }
  }

  position {
    display: block;
  }

  at {
    display: block;
  }

}

@media(max-width: @mobile-width) {

  .search-item {

    name {
      font-size: 16px;
      font-weight: 600;
    }

  }

}
//end search -----------------------------------------------

/************************************************************
REPORTS
************************************************************/
.csv-save-btn {
  right: 30px;
  top: 8px;
}
//end reports -----------------------------------------------

/************************************************************
SRM
************************************************************/
.wrapper-srm {

  hr {
    background: #870042;
    border:none;
    height:1px;
    margin:1em 0;
  }

  hr:first-of-type {
    display:none;
  }

  u {
    color: #cc2222;
    text-decoration: none;
  }

  #specify {
    width: 550px;
  }

  #accordion_a a {
    text-decoration: none;
  }

  .badge {
    background-color: #870042;
    color: #fff;
  }

  .disabled_brd {
    border-color: #ccc;
    cursor: not-allowed;
  }

  .req {
    color: #cc2222;
    display: none;
  }

  .valid, .valid:focus {
    border: 2px solid #00aa00 !important;
  }

  .required, .required:focus {
    border: 2px solid #ff0000 !important;
  }

  .close_tab, .close_new_task {
    cursor: pointer;
    color: #aa0000;
  }

  .close_tab_disabled {
    color: #ccc;
  }

  .short {
    width: 200px;
  }

  .spent {
    float: left;
    width: 70px;
  }

  .spent_suf {
    float: left;
    padding: 7px;
  }

  .pick_requester, .autofetch_pick {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 2px;
  }

  .btn_border {
    padding: 4px;
    padding-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .msg_from {
    float: right;
    padding-top: 4px;
    padding-right: 10px;
  }

  .dropzone {
    position: relative;
    min-height: 0px !important;
    height: 100%;
    padding: 0px;
    color: #870042;
    border: 1px dashed #ccc;
  }

  .dz-message {
    padding: 0px !important;
    margin: 10px !important;
  }

  .uploaded-files {
    position: relative;
    left: 0px;
    height: 100%;
  }

  .uploaded-table {
    width: 100%;
    border: 1px solid #e5e6e7;
  }

  .uploaded-table tr {
    border-bottom: 1px solid #e5e6e7;
  }

  .uploaded-table .chkbox {
    padding-left: 10px;
    width: 10px;
  }

  .uploaded-table .delete_file {
    padding-right: 10px;
    width: 10px;
    color: #870042;
    cursor: pointer;
  }

  .uploaded-table .wide {
    padding: 10px;
    width: 100%;
  }

  .uploaded-table .nowrp {
    padding: 10px;
    white-space: nowrap;
  }

  input:disabled, select:disabled, textarea:disabled  {
    background: #f8f8f8 !important;
  }

  /*.btn-default {
  color: #870042;
  border-color: #870042;
  background-color: #fff;
}

  .btn-default:hover {
  color: #870042;
  border-color: #870042;
  background-color: #ddd;
}*/

  .alert-info, .input-group-addon {
    border-color: #e5e6e7;
    background-color: #f8f8f8;
  }

  .alert-info hr, .alert-success hr {
    display: block;
    margin-top: 2px;
    background-color: #d6e6c6;
  }

  .alert-info hr {
    background-color: #e5e6e7;
  }

  .over_deadline {
    background-color: #ed5565;
  }

  .solution {
    margin-top: 15px !important;
    padding: 15px;
  }

  .ta_solution {
    border: 1px dashed #1ab394 !important;
  }

  .tasks {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .tasks > .input-group-addon {
    border: 1px dashed #7d7 !important;
    background-color: #afa;
    padding: 10px;
  }

  .fa-star {
    color: #870042;
  }

  .domain {
    color: #000;
  }

  .act {
    color: #870042;
  }

  .prio {
    margin-bottom: 15px;
  }

  .tip {
    position: relative;
    border-color: #870042;
  }

  .message_bubble {
    color: #090;
    border-color: #090;
    background-color: #afa;
  }

  .tip_bubble {
    position: absolute;
    width: 200px;
    top: -5px;
    left: 280px;
    padding: 10px;
    background: #f2f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #870042 solid 1px;
    box-shadow: 0 0 5px rgba(135, 0, 66, 1); /* 81, 203, 239 */
    display: block;
    z-index: 2000;
  }

  .tip_bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f2f2f2;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 12px;
  }

  .tip_bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #870042;
    display: block;
    width: 0;
    z-index: 0;
    left: -11px;
    top: 12px;
  }

  .copylink {
    cursor: pointer;
    color: #870042;
  }

  .disabled-link {
    pointer-events: none;
    cursor: default;
  }

  .nonav {
    padding: 7px 10px 0px 10px;
  }


}
//end srm -----------------------------------------------



