<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar"></i> Puhkuste kalender
            </div>
            <div class="panel-body">

                {{> filters}}

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#a" data-toggle="tab">Tabel</a>
                    </li>
                    {{#unless mobile}}
                    <li>
                        <a href="#b" data-toggle="tab">Graafik</a>
                    </li>
                    {{/unless}}
                    <li>
                        <a href="#c" data-toggle="tab">Minu puhkused</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="a">
                        {{> tableTab}}
                    </div>
                    {{#unless mobile}}
                    <div class="tab-pane fade" id="b">
                        {{> ganttTab_Johann}}
                    </div>
                    {{/unless}}
                    <div class="tab-pane fade" id="c">
                        {{> myVacationsTab}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal inmodal fade in" id="addVacationModal" aria-hidden='hidden' style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="addVacationModalContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Puhkuse sissekande lisamine </h4>
            </div>
            <div class="modal-body">
                <div id="dialogType" data-type="add" data-employee_id="T0067594" data-display_name="Johann Laulik"></div>
                <div id="absence_id" data-absence_id=""></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Isik</label>
                            Johann Laulik
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Äraoleku vorm</label>
                            <div class="input-group" style="width: 100%;">
                                <select name="type_id" id="absence_type" class="chosen-select">
                                    <option value="1">Korraline puhkus</option>
                                    <option value="2">Vanemapuhkus</option>
                                    <option value="3">Haiguspuhkus</option>
                                    <option value="4">Palgata puhkus</option>
                                    <option value="5">Lähetus</option>
                                    <option value="6">Õppepuhkus</option>
                                    <option value="7">Koolitus</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Ajavahemik</label>
                            <div class="input-daterange input-group" id="datepicker" style="width: 100%;">
                                <input id="start_date" type="text" class="input-sm form-control" name="start" value="12.04.2016" readonly="">
                                <span class="input-group-addon">kuni</span>
                                <input id="end_date" type="text" class="input-sm form-control" name="end" value="12.04.2016" readonly="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Asendajad</label>
                            <div class="">
                                <a id="addPerson" href="#" class="btn btn-primary ">Lisa asendaja</a>
                            </div>
                            <div id="replacements" class="wrapper-content animated fadeIn">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Sule</button>
                        <button type="button" id="saveBtn" class="btn btn-primary" disabled="">Salvesta</button>
                    </div>
                </div>
            </div>
            <!-- end modal content --></div>
    </div>
</div>

<script>
    var t = JSON.parse('{{{js_translations}}}');
    var employee_id = {{person.employeeId}};
</script>
