 <label>{{t.txt_replacers}}</label>
        {{#if acl}}
        <div class="">
            <a id="addPerson" href="#" class="btn btn-primary ">{{t.txt_add_replacement}}</a>
        </div>
        {{/if}}
        <div id="replacements" class="wrapper-content animated fadeIn">
            {{> newPersonRow}}
        </div>


