<div class="cd-panel from-left">
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <div id="dropzone" class="dropzone">
                <div class="dropzone-previews"></div>
                <div class="dz-default dz-message"><span>{{../t.txt_file_upload_msg}}</span></div>
            </div>
        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->
