<a href="#/">
    {{goal.title}}
    <div class="badge badge-info m-l-xs">{{goal.progress}}%</div>
    <i class="chevron pull-right text-lighter-grey fa fa-chevron-down m-t-xxs"></i>
</a>
<span class="goal-tools">
<a href='#' class='goal-details-open-button hidden' data-toggle='modal' data-target='#goal-details'>
    <i class='fa fa-search text-white'></i>
</a>
{{#if acl}}
<a href='#' class='add-new-action-button hidden'>
    <i class='fa fa-plus text-white'></i>
</a>
<a href='#' class='goal-delete-button hidden'>
    <i class='fa fa-trash text-white'></i>
</a>
{{/if}}
</span>
