// main: ../style.less

.csv-save-btn {
    right: 62px;
    top: 125px;
}

#budgetPanel_ {

    .report-results {

        .collapsed {
            cursor: pointer;
            position: relative;

            .first-child {

                &:before {
                    content: "\f067";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    font-size: 10px;
                    position: absolute;
                    left: 0px;
                    margin-top: 3px;
                }

                &.open {

                    &:before {
                        content: "\f068";
                    }

                }

            }

        }

        .collapsed2 {
            cursor: pointer;
            position: relative;
            //font-weight: bold;

            .first-child2 {

                &:before {
                    content: "\f067";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    font-size: 10px;
                    position: absolute;
                    left: 25px;
                    margin-top: 3px;
                }

                &.open {

                    &:before {
                        content: "\f068";
                    }

                }

            }

        }

        .accordion2_0 {
            font-style: italic;
            //font-size: 0.9em;
            //text-decoration: underline;
            //border-bottom: 1px solid grey;
        }
        /**/
        .collapsing {
            -webkit-transition:height .01s ease;
            transition:height .01s ease;
        }

    }

    .diagramm {
        margin: 10px;
    }

    #datatable td {
        text-align:right;
        vertical-align:middle;
    }

    th, td {
        padding: 3px 12px;
    }

    table {
        margin: 0px;
    }

    #bar1, #sliders {
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }

    #bar1 {
        height: 400px;
    }

    #container {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 10px;
    }

    .strong, .bold, .collapsed {
        font-weight: bold;
    }

    .displayNone {
        display:none;
    }

    .twitter-typeahead {
        width: 100%;
    }

    .twitter-typeahead .tt-query,
    .twitter-typeahead .tt-hint {
        margin-bottom: 0;
    }

    .tt-hint {
        display: block;
        width: 100%;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #999;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .tt-cursor {
        background-color: #dfdfdf;
    }

    .tt-menu {
        min-width: 160px;
        margin-top: 2px;
        padding: 5px 0;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

    .tt-suggestion {
        display: block;
        padding: 3px 20px;
    }

    .tt-suggestion.tt-is-under-cursor {
        color: #fff;
        background-color: #dfdfdf;
    }

    .tt-suggestion.tt-is-under-cursor a {
        color: #fff;
    }

    .tt-suggestion p {
        margin: 0;
    }

    tt-input {
        width: 100%;
    }

    .bootstrap-tagsinput input {
        width: 100%;
    }

    .hiddenForm {
        height: 0px;
    }

    form {
        margin-top: 10px;
    }

    @media screen and (max-width: @mobile-width) {

        #tab_results {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .csv-save-btn {
            right: 22px;
            top: 125px;
        }

        .report-results {

            td {
                padding-left: 20px;
            }

            .collapsed {

                .first-child:before {
                    margin-top: -2px;
                }
            }

            .collapsed2 {

                .first-child2:before {
                    margin-top: -2px;
                    margin-left: -4px;
                }
            }
        }

        table, thead, tbody, th, td, tr {
            display: table-cell;
            font-size: 12px;

        }

        table {
            display: table;
            max-width: 750px;
            //table-layout: fixed;
            //width: 100%;
            //white-space: nowrap;
        }

        thead {
            display: table-header-group;
        }

        tbody {
            display: table-row-group;
        }

        tfoot {
            display: table-footer-group;
        }

        tbody>tr:hover,
        tbody>tr {
            display: table-row;
        }

        tbody>tr:hover>td,
        tbody>tr>td {
            display: table-cell;
        }

        tbody,
        tbody>tr:hover,
        tbody>tr,
        tbody>tr:hover>td,
        tbody>tr>td,
        tbody>tr:hover>th,
        tbody>tr>th,
        thead>tr:hover>td,
        thead>tr>td,
        thead>tr:hover>th,
        thead>tr>th,
        tfoot>tr:hover>td,
        tfoot>tr>td,
        tfoot>tr:hover>th,
        tfoot>tr>th {
            background: transparent;
            border: 0px solid #000;
            border-spacing: 0px;
            border-collapse: separate;
            empty-cells: show;
            //padding: 0px;
            margin: 0px;
            outline: 0px;
            font-size: 100%;
            color: #000;
            vertical-align: top;
            text-align: left;
            font-family: sans-serif;
            table-layout: auto;
            caption-side: top;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }

        /*thead tr {
        position: relative;
        top: auto;
        left: auto;
    }*/

        tr { border: 1px solid #ccc; }

        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

}

