<div id="goal-filter" class="row">
    {{> goal_filter}}
</div>
<!-- GOALS -->
<div id="goalsDiv" class="row">
    {{> goals}}
</div>
<!-- GOALS END -->
<script>
    var acl={{#if acl}}true{{else}}false{{/if}};
    var acl_L2={{#if acl_L2}}true{{else}}false{{/if}};
</script>

