{{#if data.resultsData}}
<div class="row">
    <div class="col-md-6">
        <div id="container1" class="diagramm"></div>
    </div>
    <div class="col-md-6">
        <div id="container2" class="diagramm"></div>
    </div>
</div>
{{/if}}
