<h3>{{t.txt_demo_data_not_correct}}</h3>
<div class="row">
    <div class="col-md-6">
        <div id="container" class="diagramm"></div>
    </div>
</div>

<table id="datatable" border="1">
	<thead>
		<tr>
			<th>a</th>
			<th>Prognoos @ aug. aasta lõpuni</th>
			<th>Eelarve @ 2015</th>
                        <th>Suhe %</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>01CI</th>
			<td>698702</td>
			<td>656000</td>
                        <td>107</td>
		</tr>
		<tr>
			<th>ÜPIT07</th>
			<td>353071</td>
			<td>520000</td>
                        <td>68</td>
		</tr>
		<tr>
			<th>ÜPIT08</th>
			<td>289677</td>
			<td>325000</td>
                        <td>89</td>
		</tr>
		<tr>
			<th>Kokku</th>
			<td>1341450</td>
			<td>1501000</td>
                        <td>89</td>
		</tr>
	</tbody>
</table>
