<!-- ISIKUTE OTSING -->
<div class="tab-pane fade" id="a">
    <form method="POST" action="/budget" class="form-horizontal" id="budgetForm" data-div="results">
        <fieldset>

            <div class="row m-t">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="budget">Nimi</label>
                        <div class="col-lg-4">
                            <select name="person" id="cover-person" class="chosen-select" data-placeholder="otsi...">
                                <option value="all">kõik isikud</option>
                                <option value="Anna Kolossova">Anna Kolossova</option>
                                <option value="Sander Marandi">Sander Marandi</option>
                                <option value="Villu Vooglaid">Villu Vooglaid</option>
                                <option value="Madis Jõhvik">Madis Jõhvik</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="department">Str. üksus</label>
                        <div class="col-lg-4">
                            <div class="input-group" style="width: 100%;">
                                <select name="leave_type" id="leave-type" class="chosen-select" data-placeholder="otsi...">
                                    <option value="puhkus">täpsustamata</option>
                                    <option value="puhkus">11019 Arhitektuuri- ja urbanistikainstituut</option>
                                    <option value="lähetus">13012 Arvutiteaduse instituut</option>
                                    <option value="koolitus">13014 Automaatikainstituut</option>
                                    <option value="muu">34011 Avatud ülikool</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="department">Ametikoht</label>
                        <div class="col-lg-4">
                            <div class="input-group" style="width: 100%;">
                                <select name="leave_type" id="leave" class="chosen-select" data-placeholder="otsi...">
                                    <option value="puhkus">täpsustamata</option>
                                    <option value="puhkus">personalijuht</option>
                                    <option value="lähetus">lektor</option>
                                    <option value="koolitus">sekretär</option>
                                    <option value="muu">haldur</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="startDate">Perioodi algus</label>
                        <div class="col-lg-4">
                            <input id="startDate" name="startDate" type="text" class="datepicker form-control"  value="01.01.2016">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="endDate">Perioodi lõpp</label>
                        <div class="col-lg-4">
                            <input id="endDate" name="endDate" type="text" class="datepicker form-control" value="25.02.2016">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Otsi</button>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

    </form>

    <div class="row m-t">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-th"></i> Otsingu tulemused: 2 isikut, 1st struktuuri üksusest, ajavahemikus 01.04.2012 kuni 25.02.2016</div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Jrk.</th>
                                <th>Nimi</th>
                                <th class="hidden-xs">Str. üksus</th>
                                <th class="hidden-xs">Ametikoht</th>
                                <th class="hidden-xs">Lepingu algus</th>
                                <th>Lepingu lõpp</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td>1.</td>
                                <td><a href="#c" class="ajax-load">Villu Vooglaid</a></td>
                                <td class="hidden-xs">13014 Automaatikainstituut</td>
                                <td class="">lektor</td>
                                <td class="hidden-xs">01.04.2012</td>
                                <td class="hidden-xs">kehtib veel</td>
                            </tr>

                            <tr>
                                <td>2.</td>
                                <td><a href="#" class="ajax-load">Anna Kolossova</a></td>
                                <td class="hidden-xs">13014 Automaatikainstituut</td>
                                <td class="">sekretär</td>
                                <td class="hidden-xs">01.02.2014</td>
                                <td class="hidden-xs">01.01.2016</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
