<div class="row">
    <div class="col-sm-12 m-t-xs">
        <!-- Puhkuste tabel start -->
        <div id="VacationsTable" class="ttuLoader"></div>
	<!-- Puhkuste tabel end -->
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        {{#if focusAcl}}<button class="btn btn-primary addVacationBtn">{{t.txt_add}}</button>{{/if}}
    </div>
</div>
