<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users"></i> Seotud Isikute Register
                <div class="pull-right">
                    <a href="#" id="csv_export">
                                <span class="fa fa-file-excel-o"></span>
                                Ekspordi kõik.csv
                              </a>
                </div>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class=""><a href="#a" data-toggle="tab" aria-expanded="true">Isikute otsing<span class="badge" id="mission_my_badge"></span></a></li>
                    <li class=""><a href="#b" data-toggle="tab" aria-expanded="false">Firmade otsing<span class="badge" id="mission_accept_badge"></span></a></li>
                    <li class="active"><a href="#c" data-toggle="tab" aria-expanded="false">Isiku detailvaade<span class="badge" id="mission_list_badge"></span></a></li>
                </ul>
                <div class="tab-content">
                    {{> person_search}}
                    {{> company_search}}
                    {{> person_view}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var t = JSON.parse('{{{js_translations}}}');
</script>

