<!-- FILTER BEGIN
------------------------------------------------------------------>

<div id="goal-filter" class="row">

<!-- STATUS BEGIN -->
<div id="filterStatus"  class="col-md-7 m-b">
    {{> filter_status}}
</div>
<!-- STATUS END -->

    <!--SUBJECT START
------------------------------------------------------------------>

    <div class="col-md-2">
        <select class="form-control m-b" name="kolm">
            <option>Valdkond</option>
            <option>Valik 2</option>
            <option>Valik 3</option>
            <option>Valik 4</option>
        </select>
    </div>

    <!--SUBJECT END
------------------------------------------------------------------>

    <!--SUBJECT START
------------------------------------------------------------------>

    <div class="col-md-3">
        <select class="form-control m-b" name="kaks">
            <option>Struktuuriüksus</option>
            <option>Valik 2</option>
            <option>Valik 3</option>
            <option>Valik 4</option>
        </select>
    </div>

    <!--SUBJECT END
------------------------------------------------------------------>

</div>
<!-- FILTER END
------------------------------------------------------------------>
