<div id="goal-filter" class="row">
    <div class="col-sm-3 m-b">
        <h3 class="text-muted text-uppercase ">Eesmärk</h3>
    </div>

    <div class="col-md-3">
        <select class="form-control m-b" name="kolm">
            <option>Kõik tegevused</option>
            <option>Õppetegevused</option>
            <option>Teadustegevused</option>
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control m-b" name="kolm">
            <option>Minu üksuse tegevused</option>
            <option>2. üksuse tegevus</option>
            <option>3. üksuse tegevus</option>
            <option>4. üksuse tegevus</option>
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control m-b" name="kolm">
            <option>Minu tegevused</option>
            <option>Valik 2</option>
            <option>Valik 3</option>
            <option>Valik 4</option>
        </select>
    </div>
</div>
